.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

  }
  
  .title {
    color: yellow;
    text-shadow: 5px;
    border: 5px;
    border-color: black;
  }
  


  .container{
    background-color: white;
    width: 300px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    display: inline-block;
    line-height: 3px;
    top: 300px;
    position: relative;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-image: url("./back.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center ;
    width: 80rem;  
    height: 100rem;   
    
  }

  .image {
    position: absolute;
    height: 300px;
    justify-content: center;
    width: auto;
  }

 


  @media (max-width:700px) {

    .about-section{
      position:relative;
      top: 150px;
      max-width: 20rem;
      margin: 0;
      left: -80px;
    }
    .container {
      position: relative;
      max-height: auto;
      top: -10px;

    }
    

    .image {
      position: relative;
      max-height: 200px;
      justify-content: center;
      width: auto;
      
    }
  
    
  }