.all-selects{
  background: linear-gradient(0deg , white,  rgb(163, 153, 163)
  ); 
}
.select-order {
     background: #191970;
     border: none;
     font-size: 14px;
     max-height: 3rem;
     padding: 5px;
     max-width: 25rem;
     color: white; 
}

.select-filter{
    background: #8B0000;
     border: none;
     font-size: 14px;
     max-height: 3rem;
     padding: 5px;
     max-width: 25rem;
     color: white;
}
.create-by{
    background:	#006400;
     border: none;
     font-size: 14px;
     max-height: 3rem;
     padding: 5px;
     max-width: 25rem;
     color: white;
}

.pagination {
    text-align: center;
}

.pagination span {
    color: rgb(16, 15, 15);
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
  }
  .pagination span:hover:not(.active) {
    background-color: rgb(82, 77, 77);
    border-radius: 5px;
    border-color: black;
  }
  .pagination span.active {
    background-color: #5909ec;
    color: white;
  }

  .pokemon {
    left: 3rem;
    right: 3rem;
    position: relative;
    justify-content: center;
    align-content: center;
    max-width: 35rem;
    max-height: 40rem;
  }
  .introduction {
    color: rgb(26, 26, 24);
    font: oblique bold 180% cursive;
    
  }
@media (max-width:700px) {
  .pokemon {
    position: relative;
    max-width: 15rem;
    max-height: auto;
    justify-content: center;
    top: 180px;
    left: -1px;
  }
  .all-selects{
    background: linear-gradient(0deg , white,  rgb(163, 153, 163)
    ); 
    position: absolute;
    top: 180px;
    max-width: 500px;
    left: -2px;

  
  }
}