.all-selects{
  background: linear-gradient(0deg , white,  rgb(163, 153, 163)
  );
  
}
.select-order {
     background: #191970;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
     color: white; 
}

.select-filter{
    background: #8B0000;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
     color: white;
}
.create-by{
    background:	#006400;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
     color: white;
}

.pagination {
    text-align: center;
}

.pagination span {
    color: rgb(16, 15, 15);
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
  }
  .pagination span:hover:not(.active) {
    background-color: rgb(82, 77, 77);
    border-radius: 5px;
    border-color: black;
  }
  .pagination span.active {
    background-color: #5909ec;
    color: white;
  }

  .pokemon {
    left: 4rem;
    right: 4rem;
    position: relative;
    justify-content: center;
    align-content: center;
    width: 350px;
    height: 400px;
  }
  .introduction {
    color: rgb(26, 26, 24);
    font: oblique bold 180% cursive;
    
  }
  